* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: --Kanit-Medium;
  src: url(./fonts/Kanit-Medium.ttf);
}
span {
  color: orangered;
}

p, a {
  font-family: --Kanit-Medium;
  font-size: 0.8rem;
  color: #444;
}

h1, h2, h3 {
  color: #444;
  font-family: --Kanit-Medium;
}

.section {
  padding: 50px 20px;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.d-flex {
  display: flex;
  align-items: center;
}

.contact {
  height: 40vh;
  width: 100%;
  background: linear-gradient(45deg, rgba(53, 55, 80, 0.555), rgba(53, 55, 80, 0.356)), url(./img/contact_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.contact .container {
  height: 100%;
  width: 100%;
  justify-content: center;
}
.contact .container .containerBox {
  text-align: center;
}
.contact .container .containerBox h1 {
  color: #fff;
  font-size: 4rem;
}

.info .container .containerBox {
  gap: 1rem;
}
.info .container .containerBox .box {
  flex: 1 1 15rem;
  align-self: normal;
  border-radius: 0.4rem;
  transition: all 0.5s ease-in;
}
.info .container .containerBox .box .content {
  gap: 0.5rem;
}
.info .container .containerBox .box .content img {
  padding: 1rem 1rem;
  background: #30435A;
  border-radius: 50%;
}
.info .container .containerBox .box .content .details {
  align-self: normal;
}

.mapForm {
  background: #f0f0f0;
}
.mapForm .container .contactForm h2 {
  margin-bottom: 2rem;
}
.mapForm .container .contactForm .containerBox {
  gap: 2rem;
}
.mapForm .container .contactForm .containerBox .box {
  flex: 1 1 35rem;
  align-self: normal;
}
.mapForm .container .contactForm .containerBox .box .contentForm {
  gap: 1rem;
  align-items: flex-start;
}
.mapForm .container .contactForm .containerBox .box .contentForm .sci {
  gap: 0.5rem;
  flex-direction: column;
}
.mapForm .container .contactForm .containerBox .box .contentForm .sci .scImg {
  background: #30435A;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: 0.5s ease-in;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form {
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .inputBox {
  width: 100%;
  gap: 1rem;
  flex-direction: row;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form label {
  font-size: 0.8rem;
  font-family: --Kanit-Medium;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  width: 100%;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .textBox {
  width: 100%;
  padding: 0.6rem 1rem;
  outline: none;
  border: 2px solid #dedede;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  font-family: --Kanit-Medium;
  transition: 0.5s ease-in;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .textBox ::-moz-placeholder {
  font-weight: 100;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .textBox :-ms-input-placeholder {
  font-weight: 100;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .textBox ::placeholder {
  font-weight: 100;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .textBox:hover, .mapForm .container .contactForm .containerBox .box .contentForm .form .textBox:focus {
  border-color: orangered;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .message {
  height: 120px;
  resize: none;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .button {
  width: 100%;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .button .btn {
  width: 120px;
  height: 3rem;
  background: #30435A;
  color: #fff;
  font-family: --Kanit-Medium;
  font-size: 0.8rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: pointer 0.5s ease-in;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .button .btn:hover {
  background: orangered;
}
.mapForm .container .contactForm .containerBox .box .map {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
}
.mapForm .container .contactForm .containerBox .box .map .mapImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease-in;
}
.mapForm .container .contactForm .containerBox .box .map:hover .mapImg {
  transform: scale(1.4) rotate(10deg);
}

.blog .container .containerBox {
  flex-direction: row;
  gap: 1rem;
}
.blog .container .containerBox .box {
  flex: 1 1 20rem;
  align-self: normal;
  border-radius: 0.4rem;
  overflow: hidden;
}
.blog .container .containerBox .box .imgBox {
  width: 100%;
  height: 100%;
}
.blog .container .containerBox .box .imgBox .blogImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */


/* footer  */
.footer{
  background: #30435A;
  /* width: 100%;
  height: 40vh; */
  position: relative;
}
 .footer::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  background: url(./img/wave.svg);
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
   background-color: #fff;
  /* z-index: 1;  */
  z-index: 1;
} 


.footer .container .containerBox{
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}
.footer .container .containerBox .box{
  align-self: normal;
  flex: 1 1 20rem;
}
.footer .container .containerBox .box .content{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.footer .container .containerBox .box .content h3{
  text-transform: uppercase;
  color: #fff;
}
.footer .container .containerBox .box .content .list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .container .containerBox .box .content .list li a{
  display: flex;
  align-items: center;
  gap: .3rem;
  font-size: .8rem;
  color: #fff;
}
.footer .container .containerBox .box .content .list li a:hover{
  color: orangered;
}
.footer .container .containerBox .box .content .list li a .arrowImg{
  width: 20px;
  height: 20px;
}
.footer .container .containerBox .box .content .list li a .scImg{
  background: #348DDB;
  padding: .5rem .5rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.footer .container .containerBox .box .content .imgBox{
  width: 100%;
  height: 100%;
}
.footer .container .containerBox .box .content .imgBox .rateUsImg{
  width: 100%;
  height: 100%;
}
.copyright .container{
  text-align: center;
  margin-top: 2rem;
  
}
.copyright .container p{
  color: #fff;
}

/* end footer  */

/* small screen  */
@media screen and (max-width:992px){
  .info .container .containerBox {
    gap: 1rem;
    flex-wrap: wrap;
}
.mapForm .container .contactForm .containerBox {
  gap: 2rem;
  flex-wrap: wrap;
}
.map iframe{
  width: 100%;
}
.blog .container .containerBox {
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer .container .containerBox {
  flex-wrap: wrap;
}

}
@media screen and (max-width:600px){
  .info .container .containerBox .box .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .info .container .containerBox .box .content img {
    padding: 0.5rem 0.5rem;
    background: #30435A;
    border-radius: 50%;
}
.mapForm .container .contactForm .containerBox .box .contentForm .form .inputBox {
  width: 100%;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.mapForm .container .contactForm .containerBox .box .contentForm {
  flex-wrap: wrap;
}
.mapForm .container .contactForm .containerBox .box .contentForm .sci {
  gap: 0.5rem;
  flex-direction: row;
}
.contact .container .containerBox h1 {
  color: #fff;
  font-size: 2.5rem;
}
}

